/* Footer.css */
.footer {
    background-color: black;
    color: white;
    padding: 50px 0;
}

.footer h5 {
    color: white;
}

.footer ul li a {
    color: white;
}

.footer address {
    color: white;
}

.footer p {
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    .footer ul {
        text-align: center;
    }
}

.social-icons {
    display: flex;
    justify-content: center; /* Center the icons horizontally */
    list-style: none;
    padding: 0;
}

.social-icons li {
    margin: 0 10px; /* to Add spacing around each icon */
}

.social-icons a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .social-icons {
        flex-wrap: wrap; /* Wrap the icons onto new lines */
        justify-content: center; /* Center icons on smaller screens */
    }

    .social-icons li {
        margin: 5px; /* Adjust spacing for smaller screens */
    }
}

/* ... other styles ... */

.text-center {
    text-align: center; /* Center-align the content */
}
.text-right {
    text-align: center;
    margin-block-end: auto;
    margin-inline-start: auto;
}
.social-icons {
    display: flex;
    justify-content: center; /* Center the icons horizontally */
    list-style: none;
    padding: 0;
    margin: 10px 0; /* Add margin for spacing */
}

.social-icons li {
    margin: 0 10px; /* Add spacing around each icon */
}

.social-icons a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .social-icons {
        flex-wrap: wrap; /* Wrap the icons onto new lines */
        justify-content: center; /* Center icons on smaller screens */
        margin: 0; /* Remove margin for smaller screens */
    }

    .social-icons li {
        margin: 5px; /* Adjust spacing for smaller screens */
    }
}

/* Footer.css */
.page-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
    width: 100%;
}

