@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Roboto", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left,rgb(23, 26, 30), rgb(33, 37, 41));
}
